{{- $name := promptString "name" -}}
{{- $email := promptString "email" -}}
{{- $githubusername := promptString "githubusername" -}}
{{- $wm := promptString "window manager" -}}
[data]
    email = "{{ $email }}"
    name = "{{ $name }}"
    githubusername = "{{ $githubusername }}"
    wm = "{{ $wm }}"
