# vim:set sw=2 ts=2 sts=2 et:

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p

[user]
  email = "{{ .email }}"
  name  = "{{ .name }}"
